<%- include("partials/header.ejs") %>

<h1>Home</h1>
<p><%= home %></p>

<% posts.forEach(function(x){   %>
  <h1> <%= x.title %>   </h1>
  
  <p>
    <%= x.content.substring(0,500) + " ..." %> 
    <a href="/posts/<%= x._id %> ">read more</a>
  </p>

<% })                           %>

<%- include("partials/footer.ejs") %>